.first{
	background-color:#1B1B6c;
	color: white;
	padding-top:25px;
	padding-bottom:25px;
}
h4{
	padding:50px;
	color:red;
}
body{font-family: 'Lato', sans-serif;
}
mark{
	background-color:grey;
}

h3{
	background-color: grey;
	padding-top:15px;
}
div{
	background-color: #13124F;
	
}
p{
	color:white;
}
img{
	width:100%;
}
h4{
text-align: center; 
    background-color: green; 
}